<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    {:token()}
    
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">商品名称:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-name" data-rule="required" class="form-control" name="row[name]" type="text" value="{$row['name']}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">优势:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-advantage" data-rule="required" class="form-control" name="row[advantage]" type="text" value="{$row['advantage']}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">起兑单位:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-since_unit" data-rule="required" class="form-control" name="row[since_unit]" type="text" value="{$row['since_unit']}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">兑换次数:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-change_number" data-rule="required" class="form-control" name="row[change_number]" type="text" value="{$row['change_number']}" >
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">积分价值:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-Integral_value" data-rule="required" class="form-control" name="row[integral_value]" type="text" value="{$row['Integral_value']}" placeholder="单位：元/万">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('sort')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-language" data-rule="required" class="form-control" name="row[weigh]" type="number" value="{$row['weigh']}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Status')}:</label>
        <div class="col-xs-12 col-sm-8">
            <select class="form-control" name="row[status]">
                <option value="1"  {if $row['status'] == 1}selected{/if}>正常</option>
                <option value="2" {if $row['status'] == 2}selected{/if}>禁用</option>
            </select>
        </div>
    </div>

    

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
